*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

.leftside_box{
    width: 21rem;
    height: 32rem;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    position: relative;
    margin-left: -30px;
}

.rightside_box{
    width: 23rem;
    height: 32rem;
    background-color: hsl(270, 20%, 96%);
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: -150px;
}

.app_box{
    width: 50rem;
    height: 25rem;
    /* background-color: black; */
    margin-left: 295px;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}

.app{
    width: 13rem;
    height: 25rem;
    background-color: hsl(270, 20%, 96%);
    border-radius: 30px;
    border: 10px solid white;
    box-shadow: 5px 5px 5px hsl(240, 3%, 93%);
    
}

.textbox{
    width: 25rem;
    height: 10rem;
    /* background-color: blueviolet; */
    margin-top: 150px;
}
h2{
    color: hsl(271, 36%, 24%);
}

.p_simple_booking{
    color: hsl(270, 7%, 64%);
    font-size: small;
    padding-top: 15px;
    line-height: 1.5;
}

.container{
    display: flex;
    gap: 8rem;
}