*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    background-color: hsl(0, 0%, 100%);
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

.leftside_box{
    width: 21rem;
    height: 32rem;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    position: relative;
    margin-left: -30px;
}

.rightside_box{
    width: 23rem;
    height: 32rem;
    background-color: hsl(270, 20%, 96%);
    border-top-left-radius: 180px;
    border-top-right-radius: 180px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: -150px;
}

.app_box{
    width: 50rem;
    height: 25rem;
    /* background-color: black; */
    margin-left: 295px;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
}

.app{
    width: 13rem;
    height: 25rem;
    background-color: hsl(270, 20%, 96%);
    border-radius: 30px;
    border: 10px solid white;
    box-shadow: 5px 5px 5px hsl(240, 3%, 93%);
    
}

.textbox{
    width: 25rem;
    height: 10rem;
    /* background-color: blueviolet; */
    margin-top: 150px;
}
h2{
    color: hsl(271, 36%, 24%);
}

.p_simple_booking{
    color: hsl(270, 7%, 64%);
    font-size: small;
    padding-top: 15px;
    line-height: 1.5;
}

.container{
    display: flex;
    gap: 8rem;
}

.heading_app{
    width: 13rem;
    height: 4rem;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%) , hsl(293, 100%, 63%));
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    margin-top: 30px;
    margin-left: 8px;
  }

  .left {
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
  }

  .avatar{
    width: 10%;
    border: 2px solid white;
    border-radius: 50%;
  }

  .p_samuel{
    color: white;
    font-size: 10px;
  }

.p_available{
    color: hsl(270, 7%, 64%);
    font-size: 8px;
    padding-top: 3px;
}

.inheading_row_display{
    display: flex;
    gap: 0.5rem;
    margin-top: 22px;
}

.inheading_arrow_display{
    display: flex;
    gap: 0.3rem;
}

.fa{
    color: white;
    margin-top: 25px;
    margin-right: 10px;
}

.inheading_3dot_display{
    display: flex;
    gap: 1rem;
}

.top_headin_box{
    width: 10rem;
    height: 1.5rem;
    color: white;
    position: relative;
}